@import "compass/reset";
@import "compass/css3";

html {
  font-family: Helvetica,sans-serif;
  color: #333;
  font-size: 62.5%;
  background-color: #566473;
}

body{
  margin: 55px 55px 55px 55px;

}

header{
  background: url("../image/wallpaper-fantasy-design-headphones-creative-wallpapers-array-wallwuzz-hd-wallpaper-4094.jpg");
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 840px;

  .bar {
    background-color: #F4F3F1;
    border: 1px solid #F4F3F1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 50px;
    width: 100%;
    display: -webkit-inline-box;
    box-sizing: border-box;

    #circle1 {
      margin: 12.5px 12.5px;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      background-color: #E76747;
    }

    #circle2 {
      margin: 12.5px 12.5px;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      background-color: #FAC002;
    }

    #circle3 {
      margin: 12.5px 12.5px;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      background-color: #52BEA6;
    }
  }

  .userBar{
    position: relative;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    overflow: hidden;
    margin: 36px auto 30px auto;
    ul {
      li{
        line-height: 30px;
      }
      margin-right: 15%;
      display: -webkit-inline-box;
      float: right;
      .agents, .login {
        margin-right: 50px;
      }
      .signup {
        border: 1px solid #ffffff;
        border-radius: 3px;
        text-align: center;
        width: 100px;
        height: 30px;
      }
    }
  }

  .searchBlock{
    margin-top: 20%;
    text-align: center;

    h1{
      font: bold;
      font-size: 30px;
      color: #ffffff;
      margin-bottom: 10px;
    }

    h3{
      font-size: 15px;
      color: #bcbfc5;
    }
    .search{
      padding: 30px;

      form{
        width: 460px;
        margin: auto;

        input{
          padding: 16px;
          width: 360px;
          font-size: 16px;
          color: #ffffff;
          border: 0;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          box-sizing: border-box;
          background-color: #999999;
          opacity:0.4;
          float: left;
        }

        button{
          height: 50px;
          width: 100px;
          background-color: #67DDAB;
          font-size: 16px;
          color: #f5fdfa;
          border: 0;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          box-sizing: border-box;
        }
      }
    }
  }

  .white {
    background-color: #f4f3f1;
    height: 1800px;

    .dataBox {
      background-color: #f4f3f1;
      border-radius: 3px;
      border: 2px solid #d9dada;
      margin: 250px auto 0 auto;
      position: relative;
      overflow: hidden;
      width: 1060px;
      top: -75px;

      li {
        float: left;
        box-sizing: border-box;
        text-align: center;
        margin-top: 30px;
        width: 25%;
        height: 100px;
        font-size: 30px;
        border-right: 1px solid #e5e5e4;

        h2 {
          margin-bottom: 20px;
        }

        p {
          font-size: 16px;
        }
      }
    }

    .how-it-works {
      text-align: center;
      overflow: hidden;
      margin-bottom: 100px;
      padding-bottom: 100px;
      border-bottom: 1px solid #e3e3e2;

      h1 {
        font-size: 25px;
        color: #555d71;
        text-transform: uppercase;
      }

      .shortLine{
        height: 1px;
        width: 4%;
        color: #e5e5e5;
      }

      ul{
        margin: 100px auto 100px auto;
        width: 75%;

        li {
          float: left;
          text-align: center;
          width: 33.3%;
          position: relative;

          .data{
            margin: auto auto 50px auto;
            border: 1px solid #DEDFDF;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 40px;
          }

          .icon-address-book{
            color: #efa866;
            font-size: 9em;
          }

          .icon-pencil{
            color: #afa0cf;
            font-size: 9em;
          }

          .icon-group{
            color: #479ac7;
            font-size: 9em;
          }

          h2 {
            font-size: 30px;
            color: #414d66;
            margin-top: 30px;
          }

          p {
            font-size: 16px;
            color: #b4b6bd;
            margin-top: 15px;
          }
        }
      }

      .longLine{
        height: 1px;
        width: 100%;
        color: #e2e3e2;
      }
    }

    .why-choose-us{
      border-bottom: 1px solid #e3e3e2;
      padding-bottom: 450px;

      h1 {
        text-align: center;
        font-size: 25px;
        color: #555d71;
        text-transform: uppercase;
      }

      .shortLine{
        height: 1px;
        width: 4%;
        color: #e5e5e5;
      }

      ul{
        margin: 50px 50px auto 50px;
        padding-left: 0px;
        position: relative;

        li {
          padding-bottom: 30px;
          float: left;
          width: 50%;

          .icons{
            margin-left: 50px;
            padding-top: 22px;
            position: absolute;
            text-align: left;
            font-size: 40px;
          }

          h2 {
            margin-left: 150px;
            font-size: 30px;
            color: #414d66;
            margin-top: 20px;
          }

          p {
            margin-left: 150px;
            margin-right: 50px;
            font-size: 16px;
            color: #b4b6bd;
            margin-top: 15px;
          }

          .icon-checkmark{
            color: #34B88A;
          }

          .icon-tag{
            color: #00B5E5;
          }

          .icon-loop{
            color: #EEA04E;
          }

          .icon-user{
            color: #AA6ABA;
          }

          .icon-clippy{
            color: #F70046;
          }

          .icon-thumbs-up{
            color: #F06F4B;
          }
        }
      }
    }

    .userInfo{
      margin-top: 100px;
      text-align: center;


      .tabs{
        text-align: center;
        margin: auto auto 25px auto;
        padding: 10px 10px 50px 10px;
        width: 240px;

        .tab1 {
          width: 120px;
          padding: 5px;
          border-top: 1px solid #A2A5AC;
          border-bottom: 1px solid #A2A5AC;
          border-left: 1px solid #A2A5AC;
          box-sizing: border-box;
          background-color: #606778;
          float: left;

          .tab {
            margin: 10px;
            color: #FFFFFF;
          }
        }

        .tab2{
          width: 120px;
          padding: 5px;
          border: 1px solid #A2A5AC;
          box-sizing: border-box;
          background-color: #F4F3F1;
          float: left;

          .tab {
            margin: 10px;
            color: #606778;
          }
        }
      }

      .icon-loop{
        text-align: center;
        font-size: 20px;
        color: #E1E1E1;
        font-weight: bold;
        margin-bottom: 25px;
      }

      .description{
        font-size: 16px;
        color: #9B9FA7;
        margin-bottom: 25px;
      }

      .shortLine{
        height: 1px;
        width: 4%;
        color: #e5e5e5;
        margin-bottom: 25px;
      }

      .introduction{
        .name{
          font-size: 16px;
          color: #8B8F99;
          margin-bottom: 5px;
        }

        .position{
          font-size: 16px;
          color: #C4C6CB;
          margin-bottom: 25px;
        }
      }

      .headPic{
        text-align: center;
        width: 306px;
        margin: auto;

        img{
          height: 50px;
          width: 50px;
          border-radius: 50%;
          margin: 5px;
          opacity: 0.2;

          &:hover{
            opacity: 1;
          }
        }

        .img{
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-right: 60px;
          border: 1px solid #D9DADA;
          float: left;
        }

        .last-image{
          margin-right: 0;
        }
      }
    }
  }

  .footer1{
    height: 200px;
    text-align: center;
    background-image: url("../image/35-110ZG0300742.jpg");

    .search2{
      padding-top: 96px;
      margin: auto;
      width: 582px;

      p{
        font-size: 16px;
        color: #FDFDFD;
        float: left;
        padding-top: 17px;
        margin-right: 20px;
      }

      form {
        float: left;

        input {
          padding: 16px;
          width: 360px;
          font-size: 16px;
          color: #91969F;
          border: 0;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          box-sizing: border-box;
          background-color: #FFFFFF;
          float: left;
        }

        button {
          height: 50px;
          width: 100px;
          background-color: #67DDAB;
          font-size: 16px;
          color: #f5fdfa;
          border: 0;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }
    }
  }

  .footer2{
    height: 70px;
    background-color: #FFFFFF;
    border: 1px solid #173A51;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;

    ul{
      margin: auto auto auto 50px;

      li{
        float: left;
        margin-right: 10px;
        margin-top: 27px;
        font-size: 16px;

        a{
          text-decoration: none;
          color: #A9ADB5;
          &:hover{
            text-decoration: underline;
            color: #606778;
          }
        }
      }
    }
    
    .icons{
      float: right;
      margin-right: 50px;
      margin-top: 27px;
      font-size: 16px;

      a{
        text-decoration: none;
        margin-left: 10px;

        &:hover{
          font-size: 25px;
        }
      }

      .icon-twitter{
        color: #0D92C4;
      }

      .icon-loop{
        color: #004AA3;
      }
    }
  }
}






