@import "compass/reset";
@import "compass/css3";

@import "compass/utilities/general/clearfix";

html {
//  background: url("../image/1250117150975.jpg") no-repeat;
//  background-size: cover;
}

body{
//  float: left;

  .left{
    position: absolute;
    display: block;
    left: 10px;
    top: 50px;

    img{
      height: 120px;
      width: 120px;
      border-radius: 50%;
    }
  }

  header {
//    margin-left: 150px;
//    margin-right: 150px;
    overflow: hidden;
    background-color: slategrey;

    .top{
      overflow: hidden;
      padding-top: 10px;
      padding-left: 150px;
      height: 50px;

      .top-left {
        float: left;
        font-size: 30px;

        .clock{
          width: 150px;
          height: 50px;
        }
      }

      .top-center{
        position: absolute;
        margin-left: 170px;
        margin-top: 9px;

        .title{
          text-shadow: 2px 2px #ff0000;
          font-size: 40px;
          font-weight: bold;
          font-family: Helvetica,sans-serif;
        }
      }

      .top-right{
        float: right;
        padding-right: 150px;

        .icon-wechat {
          color: greenyellow;
        }

        .icon-qq{
          color: blue;
        }

        li{
          display: inline-block;
          font-size: 15px;
          padding-top: 32px;
          padding-left: 20px;



          a {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

      }
    }

//    .pic-gif{
//      text-align: center;
//      margin-top: 10px;
//    }
  }

  .video{
    text-align: center;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;

    h1{
      font-size: 30px;
      color: #5D5D5D;
      font-weight: bold;
      padding-bottom: 20px;
    }

    .sub-video{
      object{
        height: 500px;
        width: 100%;
      }
    }
  }

  .tab {
    margin: 25px 150px;

    #box {
      width: 100%;
      overflow: hidden;

      #tab-nav {
        line-height: 30px;

        li {
          float: left;
          margin-right: 5px;
          list-style: none;
          border-top-left-radius: 5px;
//          border-top-right-radius: 5px;
          height: 30px;
          width: 150px;
          text-align: center;
          background: #B0C732;
        }

        a {
          color: whitesmoke;
          font-size: 20px;
          text-decoration: none;

          &:hover {
            color: blue;
          }
        }
      }
    }

    #tab-content {
      padding-left: 20px;
      padding-top: 10px;
      width: 100%;
      height: 272px;
      background-color: darkolivegreen;
      box-sizing: border-box;
      font: 16px;
      line-height: 30px;
      overflow: hidden;
      color: whitesmoke;
//      overflow-x: scroll;
//      overflow-y: scroll;

      .summary{
        padding-top: 20px;
      }

      #t1, #t2, #t3 {
//        width: 100%;
        padding-left: 20px;
        padding-top: 10px;
        width: 100%;
        height: 272px;
        background-color: darkolivegreen;
        box-sizing: border-box;
        font: 16px;
        line-height: 30px;
        overflow: hidden;
      }

      .links{
        padding-top: 25px;

        li{
          width: 33.3%;
          float: left;
          text-align: center;
          height: 30px;
          line-height: 30px;
          font-size: 30px;
          padding-bottom: 30px;

          a{
            text-decoration: none;
            color: whitesmoke;

            &:hover{
              color: #B0C732;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .picShow{
    overflow: hidden;
    text-align: center;
    width: 960px;
    margin: auto 150px;

    li{
      position: relative;
      float: left;
      display: block;

      img {
        height: 200px;
        width: 230px;
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        opacity: 0.7;
      }

      strong {
        display: none;
        text-align: center;
        font-size: 30px;
      }

      &:hover{
        background-color: #333;
        text-decoration: none;
        opacity: 1;

        strong{
          color: white;
          display: block;
          position: absolute;
          width:250px;
          top:50px;
//          left:0px;
          line-height:50px;
        }
      }
    }
  }

  .right{
      padding-top: 300px;
      position: fixed;
      display: block;
      right: 10px;
      top: 50px;

      img{
        height: 130px;
        width: 130px;
      }
  }

  footer{
    background-color: slategrey;
    text-align: center;
    height: 50px;
    margin-top: 25px;

    div{
      padding-top: 17.5px;
      color: whitesmoke;
      padding-bottom: 0;
      font-size: 15px;
      font-style: italic;
    }
  }
}








