/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
html {
  font-family: Helvetica,sans-serif;
  color: #333;
  font-size: 62.5%;
  background-color: #566473;
}

/* line 11, ../sass/style.scss */
body {
  margin: 55px 55px 55px 55px;
}

/* line 16, ../sass/style.scss */
header {
  background: url("../image/wallpaper-fantasy-design-headphones-creative-wallpapers-array-wallwuzz-hd-wallpaper-4094.jpg");
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 840px;
}
/* line 22, ../sass/style.scss */
header .bar {
  background-color: #F4F3F1;
  border: 1px solid #F4F3F1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 50px;
  width: 100%;
  display: -webkit-inline-box;
  box-sizing: border-box;
}
/* line 32, ../sass/style.scss */
header .bar #circle1 {
  margin: 12.5px 12.5px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #E76747;
}
/* line 40, ../sass/style.scss */
header .bar #circle2 {
  margin: 12.5px 12.5px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #FAC002;
}
/* line 48, ../sass/style.scss */
header .bar #circle3 {
  margin: 12.5px 12.5px;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #52BEA6;
}
/* line 57, ../sass/style.scss */
header .userBar {
  position: relative;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
  overflow: hidden;
  margin: 36px auto 30px auto;
}
/* line 64, ../sass/style.scss */
header .userBar ul {
  margin-right: 15%;
  display: -webkit-inline-box;
  float: right;
}
/* line 65, ../sass/style.scss */
header .userBar ul li {
  line-height: 30px;
}
/* line 71, ../sass/style.scss */
header .userBar ul .agents, header .userBar ul .login {
  margin-right: 50px;
}
/* line 74, ../sass/style.scss */
header .userBar ul .signup {
  border: 1px solid #ffffff;
  border-radius: 3px;
  text-align: center;
  width: 100px;
  height: 30px;
}
/* line 84, ../sass/style.scss */
header .searchBlock {
  margin-top: 20%;
  text-align: center;
}
/* line 88, ../sass/style.scss */
header .searchBlock h1 {
  font: bold;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 10px;
}
/* line 95, ../sass/style.scss */
header .searchBlock h3 {
  font-size: 15px;
  color: #bcbfc5;
}
/* line 99, ../sass/style.scss */
header .searchBlock .search {
  padding: 30px;
}
/* line 102, ../sass/style.scss */
header .searchBlock .search form {
  width: 460px;
  margin: auto;
}
/* line 106, ../sass/style.scss */
header .searchBlock .search form input {
  padding: 16px;
  width: 360px;
  font-size: 16px;
  color: #ffffff;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-sizing: border-box;
  background-color: #999999;
  opacity: 0.4;
  float: left;
}
/* line 120, ../sass/style.scss */
header .searchBlock .search form button {
  height: 50px;
  width: 100px;
  background-color: #67DDAB;
  font-size: 16px;
  color: #f5fdfa;
  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
}
/* line 135, ../sass/style.scss */
header .white {
  background-color: #f4f3f1;
  height: 1800px;
}
/* line 139, ../sass/style.scss */
header .white .dataBox {
  background-color: #f4f3f1;
  border-radius: 3px;
  border: 2px solid #d9dada;
  margin: 250px auto 0 auto;
  position: relative;
  overflow: hidden;
  width: 1060px;
  top: -75px;
}
/* line 149, ../sass/style.scss */
header .white .dataBox li {
  float: left;
  box-sizing: border-box;
  text-align: center;
  margin-top: 30px;
  width: 25%;
  height: 100px;
  font-size: 30px;
  border-right: 1px solid #e5e5e4;
}
/* line 159, ../sass/style.scss */
header .white .dataBox li h2 {
  margin-bottom: 20px;
}
/* line 163, ../sass/style.scss */
header .white .dataBox li p {
  font-size: 16px;
}
/* line 169, ../sass/style.scss */
header .white .how-it-works {
  text-align: center;
  overflow: hidden;
  margin-bottom: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #e3e3e2;
}
/* line 176, ../sass/style.scss */
header .white .how-it-works h1 {
  font-size: 25px;
  color: #555d71;
  text-transform: uppercase;
}
/* line 182, ../sass/style.scss */
header .white .how-it-works .shortLine {
  height: 1px;
  width: 4%;
  color: #e5e5e5;
}
/* line 188, ../sass/style.scss */
header .white .how-it-works ul {
  margin: 100px auto 100px auto;
  width: 75%;
}
/* line 192, ../sass/style.scss */
header .white .how-it-works ul li {
  float: left;
  text-align: center;
  width: 33.3%;
  position: relative;
}
/* line 198, ../sass/style.scss */
header .white .how-it-works ul li .data {
  margin: auto auto 50px auto;
  border: 1px solid #DEDFDF;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
}
/* line 207, ../sass/style.scss */
header .white .how-it-works ul li .icon-address-book {
  color: #efa866;
  font-size: 9em;
}
/* line 212, ../sass/style.scss */
header .white .how-it-works ul li .icon-pencil {
  color: #afa0cf;
  font-size: 9em;
}
/* line 217, ../sass/style.scss */
header .white .how-it-works ul li .icon-group {
  color: #479ac7;
  font-size: 9em;
}
/* line 222, ../sass/style.scss */
header .white .how-it-works ul li h2 {
  font-size: 30px;
  color: #414d66;
  margin-top: 30px;
}
/* line 228, ../sass/style.scss */
header .white .how-it-works ul li p {
  font-size: 16px;
  color: #b4b6bd;
  margin-top: 15px;
}
/* line 236, ../sass/style.scss */
header .white .how-it-works .longLine {
  height: 1px;
  width: 100%;
  color: #e2e3e2;
}
/* line 243, ../sass/style.scss */
header .white .why-choose-us {
  border-bottom: 1px solid #e3e3e2;
  padding-bottom: 450px;
}
/* line 247, ../sass/style.scss */
header .white .why-choose-us h1 {
  text-align: center;
  font-size: 25px;
  color: #555d71;
  text-transform: uppercase;
}
/* line 254, ../sass/style.scss */
header .white .why-choose-us .shortLine {
  height: 1px;
  width: 4%;
  color: #e5e5e5;
}
/* line 260, ../sass/style.scss */
header .white .why-choose-us ul {
  margin: 50px 50px auto 50px;
  padding-left: 0px;
  position: relative;
}
/* line 265, ../sass/style.scss */
header .white .why-choose-us ul li {
  padding-bottom: 30px;
  float: left;
  width: 50%;
}
/* line 270, ../sass/style.scss */
header .white .why-choose-us ul li .icons {
  margin-left: 50px;
  padding-top: 22px;
  position: absolute;
  text-align: left;
  font-size: 40px;
}
/* line 278, ../sass/style.scss */
header .white .why-choose-us ul li h2 {
  margin-left: 150px;
  font-size: 30px;
  color: #414d66;
  margin-top: 20px;
}
/* line 285, ../sass/style.scss */
header .white .why-choose-us ul li p {
  margin-left: 150px;
  margin-right: 50px;
  font-size: 16px;
  color: #b4b6bd;
  margin-top: 15px;
}
/* line 293, ../sass/style.scss */
header .white .why-choose-us ul li .icon-checkmark {
  color: #34B88A;
}
/* line 297, ../sass/style.scss */
header .white .why-choose-us ul li .icon-tag {
  color: #00B5E5;
}
/* line 301, ../sass/style.scss */
header .white .why-choose-us ul li .icon-loop {
  color: #EEA04E;
}
/* line 305, ../sass/style.scss */
header .white .why-choose-us ul li .icon-user {
  color: #AA6ABA;
}
/* line 309, ../sass/style.scss */
header .white .why-choose-us ul li .icon-clippy {
  color: #F70046;
}
/* line 313, ../sass/style.scss */
header .white .why-choose-us ul li .icon-thumbs-up {
  color: #F06F4B;
}
/* line 320, ../sass/style.scss */
header .white .userInfo {
  margin-top: 100px;
  text-align: center;
}
/* line 325, ../sass/style.scss */
header .white .userInfo .tabs {
  text-align: center;
  margin: auto auto 25px auto;
  padding: 10px 10px 50px 10px;
  width: 240px;
}
/* line 331, ../sass/style.scss */
header .white .userInfo .tabs .tab1 {
  width: 120px;
  padding: 5px;
  border-top: 1px solid #A2A5AC;
  border-bottom: 1px solid #A2A5AC;
  border-left: 1px solid #A2A5AC;
  box-sizing: border-box;
  background-color: #606778;
  float: left;
}
/* line 341, ../sass/style.scss */
header .white .userInfo .tabs .tab1 .tab {
  margin: 10px;
  color: #FFFFFF;
}
/* line 347, ../sass/style.scss */
header .white .userInfo .tabs .tab2 {
  width: 120px;
  padding: 5px;
  border: 1px solid #A2A5AC;
  box-sizing: border-box;
  background-color: #F4F3F1;
  float: left;
}
/* line 355, ../sass/style.scss */
header .white .userInfo .tabs .tab2 .tab {
  margin: 10px;
  color: #606778;
}
/* line 362, ../sass/style.scss */
header .white .userInfo .icon-loop {
  text-align: center;
  font-size: 20px;
  color: #E1E1E1;
  font-weight: bold;
  margin-bottom: 25px;
}
/* line 370, ../sass/style.scss */
header .white .userInfo .description {
  font-size: 16px;
  color: #9B9FA7;
  margin-bottom: 25px;
}
/* line 376, ../sass/style.scss */
header .white .userInfo .shortLine {
  height: 1px;
  width: 4%;
  color: #e5e5e5;
  margin-bottom: 25px;
}
/* line 384, ../sass/style.scss */
header .white .userInfo .introduction .name {
  font-size: 16px;
  color: #8B8F99;
  margin-bottom: 5px;
}
/* line 390, ../sass/style.scss */
header .white .userInfo .introduction .position {
  font-size: 16px;
  color: #C4C6CB;
  margin-bottom: 25px;
}
/* line 397, ../sass/style.scss */
header .white .userInfo .headPic {
  text-align: center;
  width: 306px;
  margin: auto;
}
/* line 402, ../sass/style.scss */
header .white .userInfo .headPic img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px;
  opacity: 0.2;
}
/* line 409, ../sass/style.scss */
header .white .userInfo .headPic img:hover {
  opacity: 1;
}
/* line 414, ../sass/style.scss */
header .white .userInfo .headPic .img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 60px;
  border: 1px solid #D9DADA;
  float: left;
}
/* line 423, ../sass/style.scss */
header .white .userInfo .headPic .last-image {
  margin-right: 0;
}
/* line 430, ../sass/style.scss */
header .footer1 {
  height: 200px;
  text-align: center;
  background-image: url("../image/35-110ZG0300742.jpg");
}
/* line 435, ../sass/style.scss */
header .footer1 .search2 {
  padding-top: 96px;
  margin: auto;
  width: 582px;
}
/* line 440, ../sass/style.scss */
header .footer1 .search2 p {
  font-size: 16px;
  color: #FDFDFD;
  float: left;
  padding-top: 17px;
  margin-right: 20px;
}
/* line 448, ../sass/style.scss */
header .footer1 .search2 form {
  float: left;
}
/* line 451, ../sass/style.scss */
header .footer1 .search2 form input {
  padding: 16px;
  width: 360px;
  font-size: 16px;
  color: #91969F;
  border: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  float: left;
}
/* line 464, ../sass/style.scss */
header .footer1 .search2 form button {
  height: 50px;
  width: 100px;
  background-color: #67DDAB;
  font-size: 16px;
  color: #f5fdfa;
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 478, ../sass/style.scss */
header .footer2 {
  height: 70px;
  background-color: #FFFFFF;
  border: 1px solid #173A51;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}
/* line 486, ../sass/style.scss */
header .footer2 ul {
  margin: auto auto auto 50px;
}
/* line 489, ../sass/style.scss */
header .footer2 ul li {
  float: left;
  margin-right: 10px;
  margin-top: 27px;
  font-size: 16px;
}
/* line 495, ../sass/style.scss */
header .footer2 ul li a {
  text-decoration: none;
  color: #A9ADB5;
}
/* line 498, ../sass/style.scss */
header .footer2 ul li a:hover {
  text-decoration: underline;
  color: #606778;
}
/* line 506, ../sass/style.scss */
header .footer2 .icons {
  float: right;
  margin-right: 50px;
  margin-top: 27px;
  font-size: 16px;
}
/* line 512, ../sass/style.scss */
header .footer2 .icons a {
  text-decoration: none;
  margin-left: 10px;
}
/* line 516, ../sass/style.scss */
header .footer2 .icons a:hover {
  font-size: 25px;
}
/* line 521, ../sass/style.scss */
header .footer2 .icons .icon-twitter {
  color: #0D92C4;
}
/* line 525, ../sass/style.scss */
header .footer2 .icons .icon-loop {
  color: #004AA3;
}
