/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/style.scss */
body .left {
  position: absolute;
  display: block;
  left: 10px;
  top: 50px;
}
/* line 20, ../sass/style.scss */
body .left img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
/* line 27, ../sass/style.scss */
body header {
  overflow: hidden;
  background-color: slategrey;
}
/* line 33, ../sass/style.scss */
body header .top {
  overflow: hidden;
  padding-top: 10px;
  padding-left: 150px;
  height: 50px;
}
/* line 39, ../sass/style.scss */
body header .top .top-left {
  float: left;
  font-size: 30px;
}
/* line 43, ../sass/style.scss */
body header .top .top-left .clock {
  width: 150px;
  height: 50px;
}
/* line 49, ../sass/style.scss */
body header .top .top-center {
  position: absolute;
  margin-left: 170px;
  margin-top: 9px;
}
/* line 54, ../sass/style.scss */
body header .top .top-center .title {
  text-shadow: 2px 2px #ff0000;
  font-size: 40px;
  font-weight: bold;
  font-family: Helvetica,sans-serif;
}
/* line 62, ../sass/style.scss */
body header .top .top-right {
  float: right;
  padding-right: 150px;
}
/* line 66, ../sass/style.scss */
body header .top .top-right .icon-wechat {
  color: greenyellow;
}
/* line 70, ../sass/style.scss */
body header .top .top-right .icon-qq {
  color: blue;
}
/* line 74, ../sass/style.scss */
body header .top .top-right li {
  display: inline-block;
  font-size: 15px;
  padding-top: 32px;
  padding-left: 20px;
}
/* line 82, ../sass/style.scss */
body header .top .top-right li a {
  text-decoration: none;
}
/* line 85, ../sass/style.scss */
body header .top .top-right li a:hover {
  text-decoration: underline;
}
/* line 100, ../sass/style.scss */
body .video {
  text-align: center;
  margin-top: 40px;
  margin-left: 150px;
  margin-right: 150px;
}
/* line 106, ../sass/style.scss */
body .video h1 {
  font-size: 30px;
  color: #5D5D5D;
  font-weight: bold;
  padding-bottom: 20px;
}
/* line 114, ../sass/style.scss */
body .video .sub-video object {
  height: 500px;
  width: 100%;
}
/* line 121, ../sass/style.scss */
body .tab {
  margin: 25px 150px;
}
/* line 124, ../sass/style.scss */
body .tab #box {
  width: 100%;
  overflow: hidden;
}
/* line 128, ../sass/style.scss */
body .tab #box #tab-nav {
  line-height: 30px;
}
/* line 131, ../sass/style.scss */
body .tab #box #tab-nav li {
  float: left;
  margin-right: 5px;
  list-style: none;
  border-top-left-radius: 5px;
  height: 30px;
  width: 150px;
  text-align: center;
  background: #B0C732;
}
/* line 143, ../sass/style.scss */
body .tab #box #tab-nav a {
  color: whitesmoke;
  font-size: 20px;
  text-decoration: none;
}
/* line 148, ../sass/style.scss */
body .tab #box #tab-nav a:hover {
  color: blue;
}
/* line 155, ../sass/style.scss */
body .tab #tab-content {
  padding-left: 20px;
  padding-top: 10px;
  width: 100%;
  height: 272px;
  background-color: darkolivegreen;
  box-sizing: border-box;
  font: 16px;
  line-height: 30px;
  overflow: hidden;
  color: whitesmoke;
}
/* line 169, ../sass/style.scss */
body .tab #tab-content .summary {
  padding-top: 20px;
}
/* line 173, ../sass/style.scss */
body .tab #tab-content #t1, body .tab #tab-content #t2, body .tab #tab-content #t3 {
  padding-left: 20px;
  padding-top: 10px;
  width: 100%;
  height: 272px;
  background-color: darkolivegreen;
  box-sizing: border-box;
  font: 16px;
  line-height: 30px;
  overflow: hidden;
}
/* line 186, ../sass/style.scss */
body .tab #tab-content .links {
  padding-top: 25px;
}
/* line 189, ../sass/style.scss */
body .tab #tab-content .links li {
  width: 33.3%;
  float: left;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  padding-bottom: 30px;
}
/* line 198, ../sass/style.scss */
body .tab #tab-content .links li a {
  text-decoration: none;
  color: whitesmoke;
}
/* line 202, ../sass/style.scss */
body .tab #tab-content .links li a:hover {
  color: #B0C732;
  font-weight: bold;
}
/* line 212, ../sass/style.scss */
body .picShow {
  overflow: hidden;
  text-align: center;
  width: 960px;
  margin: auto 150px;
}
/* line 218, ../sass/style.scss */
body .picShow li {
  position: relative;
  float: left;
  display: block;
}
/* line 223, ../sass/style.scss */
body .picShow li img {
  height: 200px;
  width: 230px;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  opacity: 0.7;
}
/* line 233, ../sass/style.scss */
body .picShow li strong {
  display: none;
  text-align: center;
  font-size: 30px;
}
/* line 239, ../sass/style.scss */
body .picShow li:hover {
  background-color: #333;
  text-decoration: none;
  opacity: 1;
}
/* line 244, ../sass/style.scss */
body .picShow li:hover strong {
  color: white;
  display: block;
  position: absolute;
  width: 250px;
  top: 50px;
  line-height: 50px;
}
/* line 257, ../sass/style.scss */
body .right {
  padding-top: 300px;
  position: fixed;
  display: block;
  right: 10px;
  top: 50px;
}
/* line 264, ../sass/style.scss */
body .right img {
  height: 130px;
  width: 130px;
}
/* line 270, ../sass/style.scss */
body footer {
  background-color: slategrey;
  text-align: center;
  height: 50px;
  margin-top: 25px;
}
/* line 276, ../sass/style.scss */
body footer div {
  padding-top: 17.5px;
  color: whitesmoke;
  padding-bottom: 0;
  font-size: 15px;
  font-style: italic;
}
